h2 {
    padding: 20px;
    padding-left: 30px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.brandlogo {
    align-items: center;
    margin-right: 10px;
    height: 150px;
    width: 150px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
.img {
    max-width: 200%;
    max-height: 200%;
    width: 700px;
    height: auto;
  }

.parag7 {
    text-align: center;
    padding-left: 270px;
    padding-right: 270px;
    font-size: 15px;
}