
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  
.brandlogo {
    align-items: center;
    margin-right: 10px;
    height: 150px;
    width: 150px;
  }
  
h2 {
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 30px;
    text-align: center;
}

.img2 {
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: black;
}